
.form {
    border: 1px solid var(--tertiary-bg-color);
    display: flex;
    flex-direction: column;
    /* height: 380px; */
    /* justify-content: space-between; */
    /* align-items: center; */
    padding: 1em;
    margin: 2em auto 0 auto;
    /* max-width: 600px; */
}

.text-center {
    text-align: center;
}

.form__title {
    text-transform: uppercase;
    font-size: 1.3em;
}

.form__field {
    height: 30px;
    display: grid;
    padding: 0.5em 5px;
    grid-template-columns: 200px 1fr;
}

.form__field label {
    margin-right: 10px;
    margin-left: auto;
}

.form__field input {
    background: #fff;
    border: 1px solid var(--secondary-bg-color);
    padding: 2px 5px;
}

.table {
    display: grid;
    grid-template-columns: repeat(4, 1fr) 3fr;
}

.row {
    width: 100%;
    height: 40px;
    margin: 20px 10px;
    font-size: 1.5em;
    font-weight: 300;
}

.row:first-of-type {
    margin-bottom: 0;
}


.full-width {
    width: 80%;
}

