.center-spacey {
    margin: 10px auto;
}

input, input::placeholder, .form__field a, .form__field p, .form__field h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    padding-left: 10px;
}

.button {
    font-size: 1.3em;
    border-radius: 20px;
    height: 60%;
    padding: 5px 20px;
}

.space-left {
    margin-left: 5px;
}

@media (max-width: 600px) {
    .button {
        border-radius: 10px;
        width: 100%;
    }
}