.form {
    border: 1px solid var(--tertiary-bg-color);
    display: flex;
    flex-direction: column;
    /* height: 380px; */
    /* justify-content: space-between; */
    /* align-items: center; */
    padding: 1em;
    margin: 2em auto 0 auto;
    /* max-width: 600px; */
}

.form__title {
    text-transform: uppercase;
    font-size: 1.3em;
}

.form__field {
    height: 30px;
    display: grid;
    padding: 0.5em 5px;
    grid-template-columns: 200px 1fr;
}

.form__field label {
    margin-right: 10px;
    margin-left: auto;
}

.form__field input {
    background: #fff;
    border: 1px solid var(--secondary-bg-color);
    padding: 2px 5px;
}