
:root {
    --bg-color: #333;
    --primary-color: rgb(16, 48, 229);
    --base-font: 16px;
    --secondary-bg-color: rgb(77, 0, 57);
    --tertiary-bg-color: rgb(26, 20,77);
}

html, body {
    padding: 0;
    margin: 0;
    background-color: #333;
    box-sizing: border-box;
    font-size: var(--base-font);
}

.container {
    max-width: 1400px;
    background-color: #fff;
    color: var(--primary-color);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.page__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    height: 70px;
    background-color: var(--secondary-bg-color);
    /* color: #fff; */
}

.header__content {
    display: flex;
    justify-content: space-between;
    margin: 5px 10%;
}

.header__content .logo {
    background-color: red;
    border: 1px solid red;
    border-radius: 5px;
    height: 50px;
    width: 50px;
    position: relative;
}

.logo a {
    position: absolute;
    width: 50px;
    height: 50px;
}

.nav {
    /* justify-self: flex-end; */
    border: 1px solid #fff;
}

.nav .menu {
    text-decoration: none;
    list-style: none;
    margin: 0 auto;
    height: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.menu_item {
    display: inline;
    padding: 0 10px;
    cursor: pointer;
}

.menu_item a {
    text-decoration: none;
    color: aliceblue;
}

.content {
    /* height: 90vh; */
    padding: 0 10px;
}

.banner {
    width: 100%;
    height: 85vh;
}

.banner__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 75%;
    margin: 0 auto;
}

.headline {
    font-size: calc(var(--base-font) * 4);
}

.subtitle {
    font-size: calc(var(--base-font) * 1.2);
}

.showcase {
    display: flex;
    margin-bottom: 25px;
}


.showcase__item {
    /* width: 100%; */
    background-color: var(--tertiary-bg-color);
    display: flex;
    flex-direction: column;
}

.showcase__item:nth-of-type(1) {
    flex-direction: column-reverse;
}

.showcase__item figure {
    padding: 10px 20px;
    position: relative;
}

.showcase__image {
    height: 290px;
    width: 280px;
}

.showcase .showcase__item:first-of-type {
    border-right: 1px solid #fff;
}

.showcase__text {
    padding: 20% 30px;
    color: #fff;
    font-size: 1.5em;
}
.footer {
    height: 140px;
    display: flex;
    align-items: center;
    background-color: var(--secondary-bg-color);
    /* clip-path: polygon(11% 16%, 100% 0, 100% 100%, 0 100%); */
}


.footer__content {
    display: flex;
    position: relative;
    /* width: 100%; */
    /* max-width: 864px; */
    margin: 0 auto;
    padding: 0 8px;
    /* font-size: 12px; */
    /* line-height: 48px; */
}

.footer__content p {
    margin: 0 16px 0 0;
}
  
.footer__content p:last-of-type {
    margin-right: 0;
}

.footer__content p a {
    cursor: pointer;
    text-decoration: none;
    color: aliceblue;
}

.button {
    --btn-danger-bg: red;
    background-color: var(--secondary-bg-color);
    color: #fff;
    cursor: pointer;
    border: none;
    transition: 0.3s ease all;
    padding: 5px 10px;
}

.button:focus, .button:hover {
    background-color: #fff;
    color: var(--secondary-bg-color);
    border: 1px solid var(--secondary-bg-color);
}

.button.danger {
    background-color: var(--btn-danger-bg);
}

.button.primary-action {
    background-color: lightgreen;
}

.button.primary-action, .button.primary-action a {
    color: #fff;
}

.button.primary-action:hover, .button.primary-action:focus, .button.primary-action:focus a, .button.primary-action:hover a, .button.primary-action a:hover, .button.primary-action a:focus {
    background-color: #fff;
    border-color: lightgreen;
    color: lightgreen;
}


.button:disabled {
    cursor: not-allowed;
    background-color: var(--secondary-bg-color);
    color: #fff;
    border: none;
    opacity: 0.3;
}


.flex-column {
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
}

.card {
    min-height: calc(100vh - 210px);
    width: 500px;
    /* justify-content: center; */
    align-items: center;
}

.button {
    font-size: inherit;
    font-weight: inherit;
}

.button a {
    text-decoration: none;
}

.rounded-edges {
    border-radius: 5px;
}

.lead {
    font-size: 1.2em;
    font-weight: 400;
}

.justify-content__center {
    justify-content: center;
}

.align-items__center {
    align-items: center;
}

.bordered {
    border: 1px solid var(--secondary-bg-color)
}

.justify-content__sb {
    justify-content: space-between
}
