.tabs {
    display: flex;
    flex-direction: column;
    /* border: 1px solid var(--secondary-bg-color); */
    background-color: var(--bg-color);
    padding: 5px 10px;
}

.tab__links {
    /* height: 100px; */
    display: flex;
    width: 50%;
    margin-bottom: 0; 
}


.tab__links li {
    list-style: none;
    padding:0;
    margin-right: 10px;
}

.tab__links li:last-of-type {
    margin-right: 0;
}


.tab__links a {
    color: var(--bg-color);
    background-color: #e34a3e;
    font-size: 16px;
    font-weight: 600;
    padding: 20px 10px;
    text-decoration: none;
    margin-bottom: 10px;
}

.tab__links a:hover  {
    background: #fff;
    color: var(--secondary-bg-color);
    /* border: 1px solid var(--secondary-bg-color); */
    /* border-bottom: #fff; */
    z-index: 444;
}

li.active a, li.active a:hover {
    /* background: #fff;
    color: #4c4c4c; */
}

.tab__content {
    /* padding: 15px;
    border: 1px solid var(--secondary-bg-color);
    border-radius: 3px; */
    background: #fff;
}

.tab {
    display: none;
}

.tab.active {
    display: block;
}